Multi-JD-ATS-Analyzer.json
{
  "name": "Multi JD ATS Analyzer",
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Upload_your_Resume",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        128,
        -128
      ],
      "id": "1cf9a59e-9099-4908-b6de-065d3d8dee47",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1fTJq4yln9mRg6dhkDDXL8OorTu4BibIl",
            "mode": "list",
            "cachedResultName": "ATS_JDs",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1fTJq4yln9mRg6dhkDDXL8OorTu4BibIl"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        336,
        -128
      ],
      "id": "0d3226b9-99fe-4bf6-8098-04cded0fc127",
      "name": "Search files and folders1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "H9cw5HLNJ9fnOMkO",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert ATS analyzer.\n\nResume:\n{{ $('Extract from File').item.json.text }}\n\nJob Description:\n{{ $json.name }}\n\nAnalyze:\n\n1. ATS Match Score (0-100)\n2. Missing Skills\n3. Matching Skills\n4. Resume Improvement Suggestions\n5. Best Role Fit\n6. sort output according to score (in descending order)\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1040,
        -112
      ],
      "id": "a31d37e7-fd7f-4ca3-aaa7-75fb96d99435",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        992,
        144
      ],
      "id": "5d233b7f-021f-480f-87fe-9a914036ff1f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"Jd_Name\":\"{{$json.name}}\",\n  \"score\":0,\n  \"missing_skills\": [],\n  \"matching_skills\": [],\n  \"recommendation\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1216,
        128
      ],
      "id": "d18d6f00-d8e8-4d77-aedf-a4c16ebbe5df",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        544,
        -128
      ],
      "id": "755cd7a1-c106-4c9d-9f86-fba99e545864",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        832,
        -112
      ],
      "id": "f3517b28-5093-4249-bbc2-b65a87c7fb9a",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "H9cw5HLNJ9fnOMkO",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "Score",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1808,
        -112
      ],
      "id": "0cf9805d-acf6-4a22-80f7-97b81620090d",
      "name": "Sort"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f65fbaf6-0a81-4850-801e-7ea591f2e846",
              "name": "Name",
              "value": "={{ $json[\"Name\"] }}",
              "type": "string"
            },
            {
              "id": "c61bccaf-910e-46e0-984a-43dedbffc66d",
              "name": "Score",
              "value": "={{ $json.Score }}",
              "type": "number"
            },
            {
              "id": "95dba6ac-33f9-49ae-8b72-f7bfe93465b8",
              "name": "Recommendation",
              "value": "={{ $json.Recommendation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        -112
      ],
      "id": "76d438f4-f471-4afc-82db-02700ba9739f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "ATS Score Analysis Report",
        "message": "={{\n(() => {\n\nconst results = $json.results;\n\n// Highest score\nconst maxScore = Math.max(...results.map(r => r.json.Score));\n\n// All top matching roles\nconst topRoles = results\n  .filter(r => r.json.Score === maxScore)\n  .map(r => r.json.Name)\n  .join(', ');\n\nreturn `\n<h1>Resume ATS Analysis Report</h1>\n\n<p>\n<b>Top Matching Role(s):</b> ${topRoles}\n</p>\n\n<p>\n<b>Highest ATS Score:</b> ${maxScore}%\n</p>\n\n<br>\n\n<table border=\"1\" cellpadding=\"8\" cellspacing=\"0\" style=\"border-collapse: collapse;\">\n<tr style=\"background-color:#f2f2f2;\">\n<th>Role</th>\n<th>ATS Score</th>\n<th>Recommendation</th>\n</tr>\n\n${results.map(item => `\n<tr>\n<td>${item.json.Name}</td>\n<td>${item.json.Score}%</td>\n<td>${item.json.Recommendation}</td>\n</tr>\n`).join('')}\n\n</table>\n\n<br>\n\n<p>\nRecommendation: Apply first to the role(s) with the highest ATS score, as your resume aligns most closely with those job requirements.\n</p>\n\n`;\n})()\n}}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2208,
        -112
      ],
      "id": "daef06e9-a8d1-415b-b6dc-145ab7c71ec7",
      "name": "Send a message",
      "webhookId": "fb8cd9d2-2873-46a7-a39c-fe1dd60fc47e",
      "credentials": {
        "gmailOAuth2": {
          "id": "QyoDPQg2akEOIwxd",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all();\n\nreturn [\n  {\n    json: {\n      results\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        -112
      ],
      "id": "f5f74959-73af-4d11-89ce-1ebbd55b7cc4",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1qqiWbzxuhGa_yQ2j50Q1XLu1jZFGdwLa9E8laD8Ko4A/edit?gid=830899680#gid=830899680",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 830899680,
          "mode": "list",
          "cachedResultName": "sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qqiWbzxuhGa_yQ2j50Q1XLu1jZFGdwLa9E8laD8Ko4A/edit#gid=830899680"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.output.Jd_Name }}",
            "Score": "={{ $json.output.score }}",
            "Matching skills": "={{ $json.output.matching_skills.join(\", \")  }}",
            "Missing Skills": "={{ $json.output.missing_skills.join(\", \")  }}",
            "Recommendation": "={{ $json.output.recommendation }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Missing Skills",
              "displayName": "Missing Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Matching skills",
              "displayName": "Matching skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recommendation",
              "displayName": "Recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1360,
        -112
      ],
      "id": "44389069-fa2c-495c-97b8-d433623346cb",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qUIzqfZXNDla5yW8",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "CHECK YOUR ATS SCORE",
        "formDescription": "It comparess your resume with different job descriptions and send score at your gmail .",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Upload your Resume",
              "fieldType": "file",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -80,
        -128
      ],
      "id": "28469387-6584-43e8-b650-b4ecf29c1eaa",
      "name": "On form submission",
      "webhookId": "2de89994-00b0-402b-a3b1-7e7345900efb"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "fa588aad-d9e2-4616-b095-06bc29e673fd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6401783a0b2ee42cc5aad812de0e486a8497df84800be12584128eb833edd7b9"
  },
  "id": "FBxyIbBbp8YWlOzr",
  "tags": []
}